{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="section_home">
    <div class="section_left">
        
        <!-- Title Shortcode -->
        <div class="techwave_fn_title_holder">
            <h1 class="title">CSE Inventory</h1>
            <p class="desc">Store all school equpiment Inventory</p>
        </div>
        <!-- !Title Shortcode -->
        
        <!-- Interactive List Shortcode -->
        <div class="techwave_fn_interactive_list">
            <ul>
                <li>
                    <div class="item">
                        <a href="/equipments/">
                            <span class="icon">
                                <img src="{% static 'svg/cube.svg' %}" alt="" class="fn__svg">
                            </span>
                            <h2 class="title">Inventory</h2>
                            <p class="desc">Our school's Inventory page is a streamlined tool for managing all educational equipment and supplies. It provides real-time insights into stock levels, locations, and procurement processes, ensuring efficient distribution and access to resources. This system enhances inter-departmental collaboration, improves budget adherence, and simplifies vendor management, making it an indispensable asset for our school community.</p>
                            <span class="arrow"><img src="{% static 'svg/arrow.svg' %}" alt="" class="fn__svg"></span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <a href="/my_bookings/">
                            <span class="icon">
                                <img src="{% static 'svg/option.svg' %}" alt="" class="fn__svg">
                            </span>
                            <h2 class="title">My Booking.</h2>
                            <p class="desc">Welcome to "My Booking Equipment," your go-to destination for viewing all your rented equipment. This platform offers a seamless booking experience, featuring detailed descriptions, high-quality images, and real-time availability updates. Navigate easily through various rental options, customize your booking preferences, and enjoy a secure online payment gateway. Manage your account effortlessly and stay informed with every step of your reservation journey.. </p>
                            <span class="arrow"><img src="{% static 'svg/arrow.svg' %}" alt="" class="fn__svg"></span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- !Interactive List Shortcode -->
        
    </div>
    <div class="section_right">
        <div class="company_info">
            <h1>CSE Inventory</h1>
            <p class="fn__animated_text">Discover "My Booking Equipment," a user-friendly platform designed to streamline your rental experiences. From browsing through detailed listings to customizing bookings and enjoying secure payments, it's your one-stop-shop for managing all your rented gear. Stay connected throughout your reservation journey, making equipment rentals hassle-free and enjoyable.</p>
            <hr>
            <div class="fn__members">
                <div class="active item">
                    <span class="circle"></span>
                    <span class="text">1,154,694 Equipment</span>
                </div>
                <div class="item">
                    <span class="circle"></span>
                    <span class="text">77,345,912 Booked</span>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
