{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="section_home">
    <div class="section_left">
        
        <!-- Title Shortcode -->
        <div class="techwave_fn_title_holder">
            <h1 class="title">My Bookings</h1>
            <ul>
                {% for booking in bookings %}
                <li>
                    {{ booking.equipment.name }} - {{ booking.booking_date }}
                </li>
                {% endfor %}
            </ul>
        
        </div>
        <!-- !Title Shortcode -->
        
    </div>
    <div class="section_right">
        <div class="company_info">
            <h1>CSE Inventory</h1>
            <p class="fn__animated_text">Discover "My Booking Equipment," a user-friendly platform designed to streamline your rental experiences. From browsing through detailed listings to customizing bookings and enjoying secure payments, it's your one-stop-shop for managing all your rented gear. Stay connected throughout your reservation journey, making equipment rentals hassle-free and enjoyable.</p>
            <hr>
            <div class="fn__members">
                <div class="active item">
                    <span class="circle"></span>
                    <span class="text">1,154,694 Equipment</span>
                </div>
                <div class="item">
                    <span class="circle"></span>
                    <span class="text">77,345,912 Booked</span>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}


