{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="section_home">
    <div class="section_left">
        
        <!-- Title Shortcode -->
        <div class="techwave_fn_title_holder">
            <h1 class="title">My Bookings</h1>
            <ul>
                {% for booking in bookings %}
                <li>
                    {{ booking.equipment.name }} - {{ booking.booking_date }}
                </li>
                {% endfor %}
            </ul>
        
        </div>
        <!-- !Title Shortcode -->
        
    </div>
    <div class="section_right">
        <div class="company_info">
            <img src="{% static 'img/logo-desktop-full.png' %}" alt="">
            <p class="fn__animated_text">The official server of TECH-AI, a text-to-image AI where your imagination is the only limit. We’re building market-leading features that will give you greater control over your generations.</p>
            <hr>
            <div class="fn__members">
                <div class="active item">
                    <span class="circle"></span>
                    <span class="text">1,154,694 Online</span>
                </div>
                <div class="item">
                    <span class="circle"></span>
                    <span class="text">77,345,912 Members</span>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}


